<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">What's happening at UCLA.</h1>

    <section data-position="add-event">
      <h2>Add Event</h2>
      <form action="/events" method="POST">
        <input type="text" placeholder="Day" name="Day" />
        <input type="text" placeholder="Month" name="Month" />
        <input type="text" placeholder="Year" name="Year" />
        <input type="text" placeholder="Time" name="Time" />
        <input type="text" placeholder="Address" name="Address" />
        <input type="text" placeholder="Description" name="Description" />
        <button type="submit">Submit</button>
      </form>
    </section>


    <section data-position="search-event">
      <h2>Search Events</h2>
      <form action="/events" method="POST">
        <input type="text" placeholder="Day" name="Day" />
        <input type="text" placeholder="Month" name="Month" />
        <input type="text" placeholder="Year" name="Year" />
        <input type="text" placeholder="Time" name="Time" />
        <input type="text" placeholder="Address" name="Address" />
        <input type="text" placeholder="Description" name="Description" />
        <button type="Searchsubmit">Search Submit</button>
      </form>
    </section>


    <section data-position="events">
      <h2>Events</h2>
      <ul class="events">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < events.length; i++) {%>
          <li class="event">
            <!-- Output name from the iterated quote object -->
            <span><%= events[i].Day %></span>:
            <span><%= events[i].Month %></span>
            <span><%= events[i].Year %></span>:
            <span><%= events[i].Time %></span>
            <span><%= events[i].Address %></span>:
            <span><%= events[i].Description %></span>
          </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>